{{ partial "t" . }}
{{ if in .Params.categories "kernel" }}
<div class="box kernelmap">
  The Linux Kernel Configuration Guides are constantly being updated and will soon be properly maintained.
  <br/>
  <br/>
  <pre><code class="language-none">Kernel Sources:       sys-kernel/gentoo-sources

Kernel Version:       4.12.10

Last Updated on:      03/09/2017

Contributors:         Firas Khalil Khana [irc: firas] [email: firasuke@gmail.com]</code></pre>
  <br/>
  <table>
    <tr>
      <th>Part</th>
      <th>Name</th>
      <th>Link</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Intro</td>
      <td><a href="https://www.dotslashlinux.com/2017/08/24/the-linux-kernel-configuration-guide-part-1/">Click Here</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>[&ast;] Gentoo Linux support  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/08/25/the-linux-kernel-configuration-guide-part-2/">Click Here</a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>General setup  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/08/26/the-linux-kernel-configuration-guide-part-3/">Click Here</a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>[&ast;] Enable loadable module support  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/08/27/the-linux-kernel-configuration-guide-part-4/">Click Here</a></td>
    </tr>
    <tr>
      <td>5</td>
      <td>[&ast;] Enable the block layer  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/08/28/the-linux-kernel-configuration-guide-part-5/">Click Here</a></td>
    </tr>
  </table>
</div>
{{ end }}
<div class="box map">
  <h2>{{ .Title }}</h2>
  <div class="frame"><img src="{{ .Params.imgsrc }}" alt="{{ .Params.imgalt }}"></div>
  <div class="info"><small>By {{ .Params.author }} on {{ .Date.Format "02/01/2006" }}</small></div>
  {{ .Content }}
</div>
<div id="comments" class="box">{{ $.Scratch.Set "path" "/data/comments/" }}{{ $.Scratch.Add "path" .Params.nick }}{{ $path := $.Scratch.Get "path" }}{{ $comments := readDir $path }}{{ $.Scratch.Set "counter" 1 }}
  {{ if gt (sub (len $comments) 1) 0 }}<h3>{{ sub (len $comments) 1 }} Comments</h3>{{ end }}{{ range $index, $comments := (index $.Site.Data.comments .Params.nick) }}{{ if eq .order ($.Scratch.Get "counter") }}
  <div class="{{ if eq .replying_to "" }}main-comment{{ else }}reply{{ end }}">
    <p><strong>{{ .name }}</strong></p>
    <p>{{ dateFormat "02/01/2006" .date }}</p>
    <hr/>
    <p>{{ .comment | markdownify }}</p>
  </div>{{ $.Scratch.Add "counter" 1 }}{{ end }}{{ end }}
  <div id="leavecomment">
    <h3>Leave A Comment</h3>
    <form action="https://getsimpleform.com/messages?form_api_token=4458712617021cb12239cbfd2942b227" method="post">
      <input name="options[redirect]" type="hidden" value="{{ .Site.BaseURL }}{{ .Page.URL }}#comments">
      <input name="options[slug]" type="hidden" value="{{ .Page.Slug }}">
      <input type="hidden" id="reply" name="fields[replying_to]" value="">
      <input name="fields[name]" type="text" placeholder="Name" required>
      <textarea rows="5" name="fields[comment]" placeholder="Your comment here.&#10;&#10;Comments support Markdown.&#10;&#10;Comments are being moderated to prevent spam so it may take a while before your comment is posted." required></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{{ partial "b" . }}
