{{ partial "t" . }}
{{ if in .Params.categories "kernel" }}
<div class="box kernelmap">
  <pre><code class="language-properties">Kernel Sources:       sys-kernel/gentoo-sources

Kernel Version:       4.14.4

Last Updated on:      06/12/2017

Update Notice:        1- Added 'CONFIG_X86_5LEVEL' to 'Processor type and features  --->'
                      2- Added 'CONFIG_ORC_UNWINDER' to 'Kernel hacking  --->'
                      3- Excluded swap options (in DOTSLASHLINUX.config only and not in the guides)
                      4- Removed 32-bit support (in DOTSLASHLINUX.config only and not in the guides)
                      5- Switched to EXT4 from XFS (in DOTSLASHLINUX.config only and not in the guides)

Priorities:           1- high performance
                      2- minimal
                      3- low memory footprint
                      4- small size
                      5- power saving
                      6- security
                      7- low-latency

Configuration File:   https://www.dotslashlinux.com/dotfiles/kernel/DOTSLASHLINUX.config

Total Options:        2646 (grep -c 'CONFIG_' DOTSLASHLINUX.config)

Included Options:     741 (grep -c '=y' DOTSLASHLINUX.config)

Excluded Options:     1841 (grep -c 'is not set' DOTSLASHLINUX.config)

Final Size (LZ4):     6,508,496 Bytes

Total Patches:        1 (UKSM-4.14 Patch) (https://github.com/dolohow/uksm/blob/master/uksm-4.14.patch)

Contributors:         Firas Khalil Khana [irc: firas] [email: firasuke@gmail.com]

Side Notes:           1- Options that aren't listed here are excluded [ ].
                      2- These guides provide users with a solid starting setup to build on.
                      3- These guides are constantly being updated.
                      4- If there's something I didn't explain properly or I misexplained
                         then please do let me know either by kindly leaving a comment below
                         or sending me an email on: firasuke@gmail.com
                      5- If you found these guides helpful, then please don't forget to
                         support DOTSLASHLINUX on Patreon:

                            https://www.patreon.com/DOTSLASHLINUX

                         or on PayPal:

                            https://www.paypal.me/DOTSLASHLINUX/5</code></pre>
  <table>
    <tr>
      <th>Part</th>
      <th>Section</th>
      <th>Link</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Intro</td>
      <td><a href="https://www.dotslashlinux.com/2017/08/24/the-linux-kernel-configuration-guide-part-1/">Click Here</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>[&ast;] Gentoo Linux support  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/08/25/the-linux-kernel-configuration-guide-part-2/">Click Here</a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>General setup  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/08/26/the-linux-kernel-configuration-guide-part-3/">Click Here</a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>[&ast;] Enable loadable module support  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/08/27/the-linux-kernel-configuration-guide-part-4/">Click Here</a></td>
    </tr>
    <tr>
      <td>5</td>
      <td>[&ast;] Enable the block layer  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/08/28/the-linux-kernel-configuration-guide-part-5/">Click Here</a></td>
    </tr>
    <tr>
      <td>6</td>
      <td>Processor type and features  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/04/the-linux-kernel-configuration-guide-part-6/">Click Here</a></td>
    </tr>
    <tr>
      <td>7</td>
      <td>Power management and ACPI options  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/06/the-linux-kernel-configuration-guide-part-7/">Click Here</a></td>
    </tr>
    <tr>
      <td>8</td>
      <td>Bus options (PCI etc.)  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/07/the-linux-kernel-configuration-guide-part-8/">Click Here</a></td>
    </tr>
    <tr>
      <td>9</td>
      <td>Executable file formats / Emulations  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/08/the-linux-kernel-configuration-guide-part-9/">Click Here</a></td>
    </tr>
    <tr>
      <td>10</td>
      <td>[*] Networking support  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/09/the-linux-kernel-configuration-guide-part-10/">Click Here</a></td>
    </tr>
    <tr>
      <td>11</td>
      <td>Device Drivers  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/11/the-linux-kernel-configuration-guide-part-11/">Click Here</a></td>
    </tr>
    <tr>
      <td>12</td>
      <td>Firmware Drivers  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/12/the-linux-kernel-configuration-guide-part-12/">Click Here</a></td>
    </tr>
    <tr>
      <td>13</td>
      <td>File systems  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/13/the-linux-kernel-configuration-guide-part-13/">Click Here</a></td>
    </tr>
    <tr>
      <td>14</td>
      <td>Kernel hacking  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/14/the-linux-kernel-configuration-guide-part-14/">Click Here</a></td>
    </tr>
    <tr>
      <td>15</td>
      <td>Security options  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/15/the-linux-kernel-configuration-guide-part-15/">Click Here</a></td>
    </tr>
    <tr>
      <td>16</td>
      <td>-*- Cryptographic API  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/16/the-linux-kernel-configuration-guide-part-16/">Click Here</a></td>
    </tr>
    <tr>
      <td>17</td>
      <td>[*] Virtualization  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/17/the-linux-kernel-configuration-guide-part-17/">Click Here</a></td>
    </tr>
    <tr>
      <td>18</td>
      <td>Library routines  ---></td>
      <td><a href="https://www.dotslashlinux.com/2017/09/18/the-linux-kernel-configuration-guide-part-18/">Click Here</a></td>
    </tr>
  </table>
</div>
{{ end }}
<div class="box map">
  <h2>{{ .Title }}</h2>
  <div class="share">
    <a id="facebook" href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" rel="nofollow" target="_blank">Facebook</a>
    <a id="twitter" href="https://www.twitter.com/intent/tweet?source={{ .Permalink }}&text={{ .Permalink }}" rel="nofollow" target="_blank">Twitter</a>
    <a id="googleplus" href="https://plus.google.com/share?url={{ .Permalink }}" rel="nofollow" target="_blank">Google+</a>
    <a id="reddit" href="https://www.reddit.com/submit?url={{ .Permalink }}" rel="nofollow" target="_blank">Reddit</a>
    <a id="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&source={{ .Permalink }}" rel="nofollow" target="_blank">LinkedIn</a>
  </div>
  <div class="frame"><a href="https://www.dotslashlinux.com{{ .Params.imgsrc }}" target="_blank"><img src="{{ .Params.imgsrc }}" alt="{{ .Params.imgalt }}"></div></a>
    <div class="info">{{ .Params.author }} | {{ .Date.Format "02/01/2006" }}</div>
    {{ .Content }}
</div>
<div id="comments" class="box">{{ $.Scratch.Set "path" "/data/comments/" }}{{ $.Scratch.Add "path" .Params.nick }}{{ $path := $.Scratch.Get "path" }}{{ $comments := readDir $path }}{{ $.Scratch.Set "counter" 1 }}
  {{ if gt (sub (len $comments) 1) 0 }}<h3>{{ sub (len $comments) 1 }} Comments</h3>{{ end }}{{ range $index, $comments := (index $.Site.Data.comments .Params.nick) }}{{ if eq .order ($.Scratch.Get "counter") }}
  <div class="{{ if eq .replying_to "" }}main-comment{{ else }}reply{{ end }}">
    <p>{{ .name }}</p>
    <p>{{ dateFormat "02/01/2006" .date }}</p>
    <hr/>
    <p>{{ .comment | markdownify }}</p>
  </div>{{ $.Scratch.Add "counter" 1 }}{{ end }}{{ end }}
  <div id="leavecomment">
    <h3>Leave A Comment</h3>
    <form action="https://getsimpleform.com/messages?form_api_token=4458712617021cb12239cbfd2942b227" method="post">
      <input name="options[redirect]" type="hidden" value="{{ .Site.BaseURL }}{{ .Page.URL }}#comments">
      <input name="options[slug]" type="hidden" value="{{ .Page.Slug }}">
      <input type="hidden" id="reply" name="fields[replying_to]" value="">
      <input name="fields[name]" type="text" placeholder="Name" required>
      <textarea rows="5" name="fields[comment]" placeholder="Your comment here.&#10;&#10;Comments support Markdown.&#10;&#10;Comments are being moderated to prevent spam so it may take a while before your comment is posted." required></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{{ partial "b" . }}
