{{ if .IsHome }}</div>
<div class="box popular">
  <h2>Popular Articles</h2>
  <div class="row">
    {{ range .Site.Taxonomies.categories.popular }}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="box card">
        <a href="{{ .Permalink }}">
          <div class="frame"><img src="{{ .Params.imgsrc }}" alt="{{ .Params.imgalt }}"></div>
          <h3>{{ .Title }}</h3></a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
</div>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 side">
  <div class="box search">
    <form action="{{ .Site.BaseURL }}/search/" method="get">
      <input type="text" id="search-box" name="query" placeholder="Search" required>
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="box patreon">
    <h3>Become a Patron</h3>
    <a id="patreon" href="https://www.patreon.com/DOTSLASHLINUX" target="_blank">Patreon</a>
  </div>
  <div class="box distros">
    <h3>Recommended Distros</h3>
    <a id="gentoo" href="https://www.gentoo.org/" target="_blank">Gentoo Linux</a></li>
  <a id="void" href="https://www.voidlinux.eu/" target="_blank">Void Linux</a></li>
<a id="arch" href="https://www.archlinux.org/" target="_blank">Arch Linux</a></li>
  </div>
  <div class="box upcoming">
    <h3>Upcoming Articles</h3>
    <ul>
      <li>Best QEMU and KVM Configuration for Windows Guests on Linux Hosts</li>
    </ul>
  </div>
  <div class="box suggestions">
    <h3>Suggestions</h3>
    <p>Apart from the comments' section, if you wanted to see an article on how to configure a certain application for a GNU/Linux distro, or wanted to share one (perhaps one that you've written), feel free to send me an email on:<br/><br/>firasuke@gmail.com</p>
  </div>
</div>
</div>
<div class="row footer container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box">
      <h4>Copyright &copy; 2017 DOTSLASHLINUX | Licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></h4>
    </div>
  </div>
</div>
<script src="/js/c.js"></script>
</body>
</html>
