<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | DOTSLASHLINUX</title>
    <meta name="description" content="DOTSLASHLINUX is a GNU/Linux enthusiasts' hub, featuring configuration guides for the linux kernel and several lightweight open source and free software.">
    <meta name="author" content="Firas Khalil Khana">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/c.css">
    <link rel="alternate" type="application/rss+xml" title="DOTSLASHLINUX RSS" href="/feed.xml">
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZVLQL8');</script>
    <script>
(function(h,o,t,j,a,r){
  h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
  h._hjSettings={hjid:626525,hjsv:5};
  a=o.getElementsByTagName('head')[0];
  r=o.createElement('script');r.async=1;
  r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
  a.appendChild(r);
})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106537585-1"></script>
    <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());gtag('config', 'UA-106537585-1');
    </script>
    <script type="text/javascript">
window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
heap.load("3408213822");
    </script>
  </head>

  <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZVLQL8"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div class="row middle-xs middle-sm middle-md middle-lg header container">
      <div class="col-xs-12 center-xs col-sm-4 start-sm col-md-4 start-md col-lg-4 start-lg">
        <div class="box">
          <h1 id="brand"><a href="{{ .Site.BaseURL }}">DOTSLASHLINUX</a></h1>
        </div>
      </div>
      <div class="col-xs-12 center-xs col-sm-8 end-sm col-md-8 end-md col-lg-8 end-lg">
        <div class="box">
          <nav>
            <ul>
              <li class="{{ if .IsHome }}cur{{ end }}"><a href="/">HOME</a></li>
              <li class="{{ if eq (relURL .URL) ("/dotfiles/" | safeHTML) }}cur{{ end }}"><a href="/dotfiles/">DOTFILES</a></li>
              <li class="{{ if eq (relURL .URL) ("/about/" | safeHTML) }}cur{{ end }}"><a href="/about/">ABOUT</a></li>
              <li><a href="/index.xml">RSS</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row main container">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content">
