<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | DOTSLASHLINUX</title>
    <meta name="description" content="DOTSLASHLINUX is a GNU/Linux enthusiasts' hub, featuring configuration guides for the linux kernel and several lightweight open source and free software.">
    <meta name="author" content="Firas Khalil Khana">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/c.css">
    <link rel="alternate" type="application/rss+xml" title="DOTSLASHLINUX RSS" href="/feed.xml">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-2359578781844102",
  enable_page_level_ads: true
});
    </script>
  </head>

  <body>
    <div class="row middle-xs middle-sm middle-md middle-lg header container">
      <div class="col-xs-12 center-xs col-sm-4 start-sm col-md-4 start-md col-lg-4 start-lg">
        <div class="box">
          <h1 id="brand"><a href="{{ .Site.BaseURL }}">DOTSLASHLINUX</a></h1>
        </div>
      </div>
      <div class="col-xs-12 center-xs col-sm-8 end-sm col-md-8 end-md col-lg-8 end-lg">
        <div class="box">
          <nav>
            <ul>
              <li class="{{ if .IsHome }}cur{{ end }}"><a href="/">HOME</a></li>
              <li class="{{ if eq (relURL .URL) ("/dotfiles/" | safeHTML) }}cur{{ end }}"><a href="/dotfiles/">DOTFILES</a></li>
              <li class="{{ if eq (relURL .URL) ("/about/" | safeHTML) }}cur{{ end }}"><a href="/about/">ABOUT</a></li>
              <li><a href="/index.xml">RSS</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="row main container">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content">
