<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | DOTSLASHLINUX</title>
    <meta name="description" content="DOTSLASHLINUX is a GNU/Linux enthusiasts' hub, featuring configuration guides for the linux kernel and several lightweight open source and free software.">
    <meta name="author" content="Firas Khalil Khana">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/c.css">
    <link rel="alternate" type="application/rss+xml" title="DOTSLASHLINUX RSS" href="/feed.xml">
  </head>
  <body>
    <div class="row middle-xs middle-sm middle-md middle-lg container">
      <div class="col-xs-12 center-xs col-sm-4 start-sm col-md-4 start-md col-lg-4 start-lg">
        <div class="box brand">
          <h1><a href="{{ .Site.BaseURL }}">DOTSLASHLINUX</a></h1>
        </div>
      </div>
      <div class="col-xs-12 center-xs col-sm-8 end-sm col-md-8 end-md col-lg-8 end-lg">
        <div class="box">
          <nav>
            <ul>
              <li class="{{ if .IsHome }}cur{{ end }}"><a href="/">HOME</a></li>
              <li class="{{ if eq (relURL .URL) ("/dotfiles/" | safeHTML) }}cur{{ end }}"><a href="/dotfiles/">DOTFILES</a></li>
              <li class="{{ if eq (relURL .URL) ("/search/" | safeHTML) }}cur{{ end }}"><a href="/search/">SEARCH</a></li>
              <li class="{{ if eq (relURL .URL) ("/about/" | safeHTML) }}cur{{ end }}"><a href="/about/">ABOUT</a></li>
              <li><a href="/index.xml" style="color: #f26522;">RSS</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">
        <div class="box patreon">
          <p>Kindly support DOTSLASHLINUX on <a href="https://www.patreon.com/DOTSLASHLINUX" target="_target">Patreon</a> to keep the website up and running while remaining ads free.</p>
        </div>
