{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
{{ if .IsHome }}{{ range first 1 $paginator.Pages  }}<div class="box first">
  <a href="{{ .Permalink }}">
    <h2>{{ .Title }}</h2>
    <div class="frame"><img src="{{ .Params.imgsrc }}" alt="{{ .Params.imgalt }}"></div>
  </a>
</div>{{ end }}
<div id="deck" class="box">
  <h2>{{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
    {{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}#deck"><< Previous</a>{{ end }}
    ({{ $paginator.PageNumber }}/{{ $paginator.TotalPages }})
    {{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}#deck">Next >></a>{{ end }}
    {{ end }}</h2>{{ end }}
